a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    transition-property: all;
}
a:hover {
    text-decoration: underline;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.Topheader {
    margin-top: 25px;
    overflow: hidden;

}
.RightHeader {
    float: right;
    color: black;
    padding-right: 20px;
}
.LeftHeader {
    padding-top: 8px;
    float: left;
    color: black;
    padding-left: 20px;
}
#SignInButton{
    margin-left: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(29, 126, 236);
    display: inline-block;
    border-radius: 3px;
    line-height: 28px;
    padding: 0 12px;
}
#main {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-top: 109px;
}
#searchsurround {
    padding: 5px;
    border-radius: 10px;

}
#searchform {
    width: 482px;

border: #cececd;
        border-top-style: none;
        border-top-width: medium;
        border-right-style: none;
        border-right-width: medium;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-left-style: none;
        border-left-width: medium;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    padding-top: 10px;

}
#footer {
    margin-top: 45px;
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    line-height: 40px;
}
.footercontainer {
    border-top: 1px black;
}
.leftcontainer {
    display: inline-block;
    color: white;
}
.rightcontainer {
    color: white;
    float: right;
}
.container {
    color: white;
    text-shadow: whitesmoke;
}
.center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}